.container {
  display: inline-block;
  margin: 80px;
}

img {
  max-height: 200px;
  max-width: 200px;
  border: 1px solid black;
  padding: 20px;
  background-color: azure;
}

.description {
  height: 200px;
  width: 200px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.gallery-title {
  font-size: 40px;
}
